input,
textarea {
  appearance: none;
  width: 100%;

  border-radius: 0.5rem;

  padding: 1rem;

  color: var(--text-body);
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);

  font: var(--text-body-md);

  &:focus {
    outline: 1px solid var(--brand-light);
  }
}

label {
  color: var(--);
  font: var(--text-body-md);
}

.input-wrapper {
  font: var(--text-body-md);
  display: grid;
  gap: 1rem;
}

.about-event .flex {
  gap: 1rem;
}

input[type="datetime-local"] {
  text-transform: uppercase;
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}
