.theme-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 0.5rem;
}

.card {
  position: relative;

  display: grid;
  padding: auto;
  justify-items: center;
  padding: 0.25rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--shape-button);
  border: 1px solid var(--input-stroke);

  &:hover {
    background-color: var(--shape-hover);
  }
  & label {
    padding: 0.25rem 0.5rem;
  }

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:has(:checked) {
    border: 1px solid var(--brand-light);
  }
}
